html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  border-radius: 2px;
  text-decoration: none;
  color: #fff;
}

.pri {
  background-color: #333;
}

.sub {
  background-color: #ccc;
}

.ghost {
  color: #000;
}

.war {
  background-color: #f33;
}
